body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.nav-links {
}
.nav-logo,
.logo1,
.logo2 {
  width: 44px;
  height: 21px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo1 {
  color: var(--logo1);
}
.logo2 {
  color: var(--logo2);
}
:root {
  --logo1: #4d5ae5;
  --logo2: #2e2f42;
}
.contacts a {
  color: #2e2f42;
}
.contacts a:hover {
  font-size: 16px;
  color: #434455;
}
.filter .filter-link:hover {
  color: #434455;
  font-size: 16px;
}
ol,
ul {
  list-style-type: none;
}
