body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.nav-links a {
  text-decoration: none;
}
.nav-logo,
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo);
  text-decoration: none;
}
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo1);
  text-decoration: none;
}
:root {
  --logo: #4d5ae5;
  --logo1: #2e2f42;
}
.nav-list {
  /* Body Medium */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* OCEAN */
  color: #404bbf;
  text-decoration: none;
}
.contacts a {
  color: #2e2f42;
}
.contacts a:hover {
  font-size: 16px;
  color: #434455;
}
.filter .filter-link:hover {
  color: #434455;
  font-size: 16px;
}
ol,
ul {
  list-style-type: none;
}
