body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.nav-logo,
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo);
  text-decoration: none;
}
.nav-logo,
.logo1 {
  color: var(--logo1);
}
:root {
  --logo: #4d5ae5;
  --logo1: #2e2f42;
  --nav-list: #404bbf;
  --botton-link: #f4f4fd;
}
.nav-list {
  /* Body Medium */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* OCEAN */
  color: var(--nav-list);
  text-decoration: none;
}

.nav-list-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo1);
}
.nav-list-links a:hover {
  color: #ffffff;
}
.nav-list-links a:hover {
  color: #ffffff;
}
.contacts a {
  color: #2e2f42;
}
.contacts a:hover {
  font-size: 16px;
  color: #434455;
}
.section-top {
  background-color: #2e2f42;
}
.section-top-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.section-top-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.section-top-button:hover {
  background-color: #404bbf;
}
.section-top-button:focus {
  background-color: #404bbf;
}
.filter-link {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo);
  cursor: pointer;
}
.list .filter-link:hover {
  color: #ffffff;
  font-size: 16px;
  background-color: #404bbf;
}
.list .filter-link:focus {
  color: #ffffff;
  background-color: #404bbf;
}
